.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cart-container {
    background-color: rgba(255, 153, 0, 0.3);
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    margin-left: 104px;
    margin-top: 200px;
    margin-right: 80px;
}

@media screen and (max-width:1100px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}